<!DOCTYPE html>
<html>
    <head>
        <link href="../../styles/dark.css" rel="stylesheet">
    </head>
    <body>
        <!-- Playlists -->
        <div class="playlist-grid" id="playlistGrid">
            <div class="playlist">
                <img src="../../../data/thumbnails/music.svg">
                <p>All Songs</p>
            </div>
            <div class="playlist">
                <img src="../../../data/thumbnails/no_image.svg">
                <p>Rock Songs</p>
            </div>
            <div class="playlist">
                <img src="../../../data/thumbnails/no_image.svg">
                <p>Chill Songs</p>
            </div>
            <div class="playlist">
                <img src="../../../data/thumbnails/no_image.svg">
                <p>Favs</p>
            </div>
            <div class="playlist">
                <img src="../../../data/thumbnails/no_image.svg">
                <p>Trendy</p>
            </div>
            <div class="playlist">
                <img src="../../../data/thumbnails/no_image.svg">
                <p>Test Playlist</p>
            </div>
        </div>
        <!-- End of Playlists -->
        <!-- Holds the logic for the window menu to add playlists -->
        <script src="../../javascript/shared.js"></script>
        <!-- Holds the logic for the context menu and -->
        <!-- to make the playlists clickable (to open their page) -->
        <script src="../../javascript/index.js"></script>
    </body>
</html>